body{
    background-color: antiquewhite;
}

/* .flex-container{
    display: flex;
    background-color: antiquewhite;
}
.flex-item{
    background-color: aqua;
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    max-width: 400px;
} */
.flex-container{
    display: grid;
    background-color: red;
    grid-template-columns: 1fr 1fr 1fr;
}
/* descendant selector's example */
.flex-container + .flex-item{
    display: grid;
    background-color: green;
    grid-template-columns: 1fr 1fr 1fr;
}  
.item{
    background-color: blue;
}
.flex-item{
    background-color: aqua;
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    max-width: 400px;
}
/* .flex-item {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: aqua;
    padding: 1rem;
    font-size: 2rem;
} */